* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    padding: 16px 0;
    background-color: rgb(98, 96, 96);
    color: rgb(255, 255, 255);
}

header .container {
    width: 1366px;
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.articles img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.articles article {
    width: 30%;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 7px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article a,
.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section {
    padding: 16px 0;
}

section h2 {
    font-size: 32px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#sports {
    background-color: rgba(0, 213, 255, 0.1);
}

#economy {
    background-color: rgba(0)
}

#gardening {
    background-color: rgba(144, 238, 144, 0.2);
}

#astrophysics {
    background-color: rgba(98, 0, 255, 0.305);
}
